*{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    color:aliceblue;
}
body,html{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: #000;
}
#nav{
    height:70px;
    width:100%;
    /* background-color:red; */
    padding:0px 10px;
}
img{
    height:60px;
}
#nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}
#nav-p2{
    display:flex;
    gap:40px;
    
}
#nav-p3{
    display:flex;
    gap:40px;
    
}
#nav h3{
    text-transform:uppercase;
}
button{
    background-color: #fff;
    color:#000;
    border:none;
    height:30px;
    padding:10px 20px;
    padding-right:20px;
    border-radius: 13px;
    font-size:20px;
    font-weight:700;
}
/* button h3{
    text-align: center;
} */
#main h1{
    font-size:120px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:1;
}
#main h1 span{
    font-size:40px;
    background-color: rgb(176, 40, 40);
    border-radius:50px;
    margin:20px 40px;
    padding:20px 30px;
} 
#main h1:nth-child(2){
    /* color:tomato; */
    padding: 10px;
}
#main #left{
    height:250px;position:absolute;
    top:15%;
    left:6%;
    border-radius: 30px;
}
#main #rb{
    height:250px;position:absolute;
    bottom:15%;
    right:6%;
    border-radius: 30px;
}
#main #lb{
    height:250px;position:absolute;
    bottom:15%;
    left:19%;
    border-radius: 30px;
}
#main #right{
    height:250px;position:absolute;
    top:15%;
    right:19%;
    border-radius: 30px;
}
h4{
    color:#000;
    
 

}
button{
  margin-top:30px;
}
h5{
    text-align:center;
    margin-top:130px;
    font-size:16px;
    color:#fff;
}

